@model EditTemplateViewModel
@{ ViewBag.Title = "Analytic area";}

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.IsInsertNew)
    <div class="row">
        <div class="col-lg-10 col-md-10">
            @Html.TextAreaFor(x => x.Content)
        </div>
        <div class="col-lg-2 col-md-2">
            <button type="button" class="btn btn-primary insertBtn">Insert</button>
            <br />
            <br />
            <button type="submit" class="btn btn-primary updateBtn">Update</button>
        </div>
    </div>
}
<br />
@Html.ActionLink("Manage users", "Users", null, new { @class = "btn btn-default" })
@if (User.IsInRole("Administrator"))
{
    @Html.ActionLink("Manage roles", "Roles", null, new { @class = "btn btn-default", style = "margin-right: 5px;" })
}
@Html.ActionLink("Statistics", "Statistics", null, new { @class = "btn btn-default" })

<script>
    $(document).on("click", ".insertBtn", function () {
        $("#@Html.IdFor(x => x.IsInsertNew)").val("True");
        $(this).closest("form").submit();
    });

    $(document).on("click", ".updateBtn", function () {
        $("#@Html.IdFor(x => x.IsInsertNew)").val("False");
        $(this).closest("form").submit();
    });

    tinyMCE.init(
    {
        selector: "textarea",
        height: 500,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        forced_root_block: false
    });
</script>