@model QuestionnaireViewModel
@{ ViewBag.Title = "Index";}

@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.TemplateId)
    <div class="row">
        <div class="col-lg-12 col-md-12">
            @Html.Raw(Model.Content)
            <br />
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("CompanySizePartial", "Expert")',
            type: "GET",
            dataType: "html",
            data: { templateId: @Model.TemplateId, companySizeId: @Model.CompanySizeId },
            success: function (html) {
                var control = $(".companySize-block");
                control.html(html);
            }
        });

        $.ajax({
            url: '@Url.Action("PositionPartial", "Expert")',
            type: "GET",
            dataType: "html",
            data: { templateId: @Model.TemplateId },
            success: function (html) {
                var control = $(".position-block");
                control.html(html);
            }
        });

        $.ajax({
            url: '@Url.Action("DynamicCapabilitiesPartial", "Expert")',
            type: "GET",
            dataType: "html",
            data: { templateId: @Model.TemplateId, answers: @Model.Answers },
            success: function (html) {
                var control = $(".dynamicCapabilities-block");
                control.html(html);
            }
        });

        $.ajax({
            url: '@Url.Action("PortfolioRiskManagementPartial", "Expert")',
            type: "GET",
            dataType: "html",
            data: { templateId: @Model.TemplateId },
            success: function (html) {
                var control = $(".portfolioRiskManagement-block");
                control.html(html);
            }
        });
    });
</script>