@model SectionViewModel

@foreach (var item in Model.Sections)
{
    <tr>
        <td class="SectionName">@item.Name</td>
    </tr>
    <tr>
        <td>
            <ol>
                @foreach (var question in Model.Questions.Where(x => x.SectionId == item.Id))
                {
                    <li>
                        @question.Value<br />
                        <div class="btn-group" data-toggle="buttons">
                            @foreach (var likertItem in Model.LikertItems)
                            {
                                if (Model.Answers.ContainsKey(question.Id.ToString()) && Model.Answers[question.Id.ToString()] == likertItem.Id)
                                {
                                    <label class="btn btn-default active">
                                        <input name="Answers[@(question.Id)]" value="@likertItem.Id" checked type="radio" /> @likertItem.Value
                                    </label>
                                }
                                else
                                {
                                    <label class="btn btn-default">
                                        <input name="Answers[@(question.Id)]" value="@likertItem.Id" type="radio" /> @likertItem.Value
                                    </label>
                                }
                            }
                        </div>
                    </li>
                }
            </ol>
        </td>
    </tr>
}
