@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/clean-blog.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title - Risk Manager</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                @Html.ActionLink("Risk Manager", "Index", "Home",null, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Expert") || User.IsInRole("Administrator")))
                    {
                        <li>@Html.ActionLink("Expert area", "Index", "Expert")</li>
                    }
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Analytic") || User.IsInRole("Administrator")))
                    {
                        <li>@Html.ActionLink("Analytic area", "Index", "Analytic")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Index", "Account")</li>
                        <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <header class="intro-header" style="background-image: url('@Url.Content("~/Content/Images/Header.jpg")')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Risk Manager</h1>
                        <hr class="small">
                        <span class="subheading">Web site for the project portfolio risk magagement</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; Project Portfolio Risk Manager @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>    
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/clean-blog.min.js"></script>
</body>
</html>